.homepage-footer{
    background-color: var(--color-page-primary-shade);
    border-top: 1px solid var(--color-border-primary);
    color: var(--color-font-primary-shade);
    font-family: var(--font-family-text);
}
.footer__mdn{
    display: grid;
    grid-template-areas: 
    "intro links links links"
    "socials links links links";
    grid-template-columns: 2fr 1fr 1fr 1fr max-content;
    padding: 2rem 1rem 1.5rem 1rem;
    padding-inline: var(--side-padding);
}
.footer__intro{
    display: flex;
    flex-direction: column;
    grid-area: intro;
    justify-items: start;
    row-gap: 1rem;
}
.footer__intro p{
    margin: 0;
}
.footer__logo{
    color: var(--color-font-primary-shade);
}
.footer__logo svg{
    display: block;
    fill: currentColor;
}
.footer__socials{
    column-gap: .75rem;
    display: flex;
    grid-area: socials;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__links{
    display: grid;
    margin: 0;
    gap: .75rem;
}
@media (width > 840px){
    .footer__links{
        grid-row: auto / span 2;
    }
}
.footer__links dt{
    font-size: 1.3rem;
}
.footer__links dd{
    display: contents;
    margin: 0;
}
.footer__links dd ul{
    display: contents;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer__links dd ul a{
    color: inherit;
    text-decoration: underline;
}
.footer__links dd ul a:hover{
    color: var(--color-gray-80);
}
.footer__socials a::before{
    content: "";
    background-color: currentColor;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.footer__socials a{
    color: inherit;
    transition: transform .175s ease-in;
}
.footer__socials a[data-icon="github"]::before {
    -webkit-mask-image: url(../assets/socials/github.svg);
    mask-image: url(../assets/socials/github.svg);
}
.footer__socials a[data-icon="bluesky"]::before {
    -webkit-mask-image: url(../assets/socials/bsky.svg);
    mask-image: url(../assets/socials/bsky.svg);
}
.footer__socials a[data-icon="x"]::before {
    -webkit-mask-image: url(../assets/socials/twitter.svg);
    mask-image: url(../assets/socials/twitter.svg);
}
.footer__socials a[data-icon="mastodon"]::before {
    -webkit-mask-image: url(../assets/socials/mastadon.svg);
    mask-image: url(../assets/socials/mastadon.svg);
}
.footer__socials a[data-icon="rss"]::before {
    -webkit-mask-image: url(../assets/socials/blog.svg);
    mask-image: url(../assets/socials/blog.svg);
}
.footer__socials a:hover::before {
    transform: scale(1.05);
}
.footer__mozilla{
    display: grid;
    grid-template-areas: 
    "logo links"
    "legal legal";
    grid-template-columns: min-content 1fr;
}
.footer__mozilla{
    border-top: 1px solid var(--color-border-primary);
    column-gap: 1.5rem;
    padding-block: 1.5rem;
    padding-inline: var(--side-padding);
    row-gap: 1rem;
}
.footer__mozilla a{
    color: inherit;
}
.footer__mozilla .footer__logo{
    grid-area: logo;
}
.footer__mozilla ul {
    display: flex;
    grid-area: links;
    flex-wrap: wrap;
    line-height: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 1rem;
}
.footer__mozilla li a{
    text-decoration: underline;
}
.footer__mozilla p{
    grid-area: legal;
    line-height: var(--font-line-normal);
}